@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);

$headFont        : Merriweather;
$mainColor       : #257520; //green
$backColor       : #ffffcc; //beige
$accentColor     : #a99177; //brownish gray
$subtleColor     : #f9f9f9; //white