<div class="container-fluid">
    <div class="intro">
        <div class="semi-circle top-right"></div>
        <div class="semi-circle top-left"></div>
        <p class="overview">Questions, comments, advice, or just want to get ahold of me?  Simply fill out the form below and I will get back to you as soon as I am able.</p>
        <div class="semi-circle bot-right"></div>
        <div class="semi-circle bot-left"></div>
    </div>
    <form ng-submit="sendEmail()">
        <label>Name</label>
        <input type="text" placeholder="name" ng-model="name" required>
        <label>email</label>
        <input type="email" placeholder="example@example.com" ng-model="email" required>
        <label>Message</label>
        <textarea placeholder="please enter a message" ng-model="message" required></textarea>
        <input class="submit-btn" type="submit" value="send">
        <h4 class="return-message">{{returnMessage}}</h4>
    </form>
</div>